node_modules
.env
key.json

# Hardhat files
/cache
/artifacts
cache
/ignition/deployments
keys.json
# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
